<launch>

  <!-- remove too closed points -->
  <!-- <param name="minimum_range"   value="0.3"/>-->
  <node pkg="loam_horizon" exec="scanRegistration" name="scanRegistration" output="screen">
    <remap from="/livox_undistort" to="/livox_pcl0"/>
    <param name="threshold_flat" value="0.01"/>
    <param name="threshold_sharp" value="0.1"/>
    <param name="scan_line" value="6"/>
  </node>

  <node pkg="loam_horizon" exec="laserOdometry" name="laserOdometry" output="screen">
    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" value="2"/>
  </node>

  <node pkg="loam_horizon" exec="laserMapping" name="laserMapping" output="screen">
    <param name="mapping_line_resolution" value="0.3"/>
    <param name="mapping_plane_resolution" value="0.6"/>
  </node>

  <node pkg="loam_horizon" exec="livox_repub" name="livox_repub" output="screen"/>

  <arg name="rviz" default="true"/>
  <group if="$(var rviz)">
    <node pkg="rviz2" exec="rviz2" name="rviz" args="-d $(find-pkg-share loam_horizon)/rviz_cfg/loam_horizon.rviz"/>
  </group>

</launch>
